@import "styles/definitions"

.root
  display: flex
  flex-direction: column
  width: $card-width
  font-size: $font-size-small
  gap: 4px

  .header
    display: flex
    justify-content: space-between
    height: $font-size-small

  .footer
    display: flex
    justify-content: space-between
    gap: 8px

  .acquired
    color: green
    justify-self: start

  .scrapped
    color: darkred
    justify-self: end

  .cardname
    flex-grow: 1
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  .quantity
    color: black



